<!-- <a ng-show="ctrl.divToken" href="#" ng-click="ctrl.logout()">logout</a> -->

<h2>Manage Question</h2>
<button ng-click="addNewQuestion()">Add fields</button>
<fieldset  data-ng-repeat="choice in choices |limitTo:3">
  <div>
    <form ng-submit="ctrl.createQuestion()">

      <label>Test:</label>
      <select ng-change="addNewQuestion(test.numberOfQuestions)" ng-options="test as test.name for test in ctrl.tests"
      ng-model="ctrl.test_id"
      ></select><br>

      <label>Qestion</label><input type="text" ng-model="ctrl.name"><br>
      <label>Option A:</label><input type="text" ng-model="ctrl.option1"><br>
      <label>Option B:</label><input type="text" ng-model="ctrl.option2"><br>
      <label>Option C:</label><input type="text" ng-model="ctrl.option3"><br>
      <label>Option D:</label><input type="text" ng-model="ctrl.option4"><br>
      <label>Answer</label>
      <select ng-model="ctrl.correctanswer">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select><br>
      <label>Score</label><input type="number" ng-model="ctrl.score"><br>
      <input type="Submit" value="Create Question">
    </form>
  </div>

     <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
</fieldset>
<!--Add Questions  -->

<!--End Questions -->



<!-- Edit Questions -->
<!-- <form ng-submit="ctrl.updateQuestion()">
  <label>Qestion</label><input type="text" ng-model="ctrl.editformdata.name" placeholder="{{ctrl.specificQuestion.name}}"><br>
  <label>Option A:</label><input type="text" ng-model="ctrl.editformdata.option1" placeholder="{{ctrl.specificQuestion.option1}}"><br>
  <label>Option B:</label><input type="text" ng-model="ctrl.editformdata.option2" placeholder="{{ctrl.specificQuestion.option2}}"><br>
  <label>Option C:</label><input type="text" ng-model="ctrl.editformdata.option3" placeholder="{{ctrl.specificQuestion.option3}}"><br>
  <label>Option D:</label><input type="text" ng-model="ctrl.editformdata.option4"
  placeholder="{{ctrl.specificQuestion.option4}}"><br>
  <label>Answer</label>
  <select ng-model="ctrl.editformdata.correctanswer">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
  </select><br>
  <label>Score</label><input type="number" ng-model="ctrl.editformdata.score" placeholder="{{ctrl.specificQuestion.score}}"><br>
  <input type="Submit" value="Edit Question">
</form>
<form ng-click="ctrl.deleteQuestion(ctrl.specificQuestion.id)" >
  <input type="submit" value="Delete">
</form>

Edit Questions
</div> -->

<div ng-repeat="question in ctrl.questions">
  <p ng-click="ctrl.getSpecificQuestion(question.id)">{{question.name}}</p>
</div>
