  <a ng-show="ctrl.divToken" href="#" ng-click="ctrl.logout()">logout</a>
 <button ng-show="ctrl.divToken" ng-click="show = !show">Add Test</button>


<!--Add a test  -->
<form ng-show="show" ng-submit="ctrl.createTest()">
  <div ng-hide="ctrl.hideDiv1">
  <label>Test Name:</label><input ng-model="ctrl.createFormData.name" type="text"placeholder="Test Name"><br>

  <label>Description</label><input  ng-model="ctrl.createFormData.description" type="text"placeholder="Test Description"><br>

  <label>Number of Questions:</label><input  ng-model="ctrl.createFormData.numberofquestion" type="number" placeholder="Number of Questions"><br>

  <label>Start Date</label><input  ng-model="ctrl.createFormData.begindate" type="date" ><br>

  <label>End Date:</label><input  ng-model="ctrl.createFormData.enddate" type="date" ><br>
  <input type="submit" value="Save"><br>
  </div>
</form>
<!-- End a test -->


<!--Edit a test  -->
<form ng-submit="ctrl.updateTest()"
  ng-if="ctrl.editableTest != test.id" ng-hide="ctrl.hideDiv1">

      <label>Test Name:</label><input ng-model="ctrl.editformdata.name" type="text" placeholder="{{ctrl.specificTest.name}}"><br>

      <label>Description</label><input  ng-model="ctrl.editformdata.description" type="text" placeholder="{{ctrl.specificTest.description}}"><br>

      <label>Number of Questions:</label><input  ng-model="ctrl.editformdata.numberofquestion" type="number" placeholder="{{ctrl.specificTest.numberofquestion}}"><br>

      <label>Start Date</label><input  ng-model="ctrl.editformdata.begindate" type="date"><br>

      <label>End Date:</label><input  ng-model="ctrl.editformdata.enddate" type="date"><br>
      <input type="submit" name="" value="edit"><br>
</form>

    <input ng-click="ctrl.deleteTest(ctrl.specificTest.id)" type="submit" name="" value="delete"><br>
<!-- End edit test -->
<div ng-repeat="test in ctrl.tests" >
  <p ng-click="ctrl.editTest(test.id);ctrl.divToken; ctrl.getSpecificTest(test.id)">{{test.name}}</p>
  <div ng-if="vm.editableChild == child._id"></div>
</div>
